body {
  background-color: #eee;
}
.layout {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}
/* 头部 */
.cart-header {
  position: static;
}
.cart-header .c-text {
  font-size: 20px;
  text-align: center;
  line-height: 44px;
}
.cart-header .c-text h3 {
  font-weight: normal;
}
/* 安全中心 */
.cart-safe {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.cart-safe p {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #000;
  line-height: 33px;
  padding-left: 32px;
}
.cart-safe p::before {
  position: absolute;
  top: 7px;
  left: 7px;
  content: "";
  width: 18px;
  height: 18px;
  background: url("../images/safe_icon.png") no-repeat;
  background-size: 18px;
}
/* 商品模块 */
.cart-product {
  width: 100%;
  margin-top: 10px;
  /* 头部 */
  /*内容*/
}
.cart-product .c-header {
  position: relative;
  height: 34px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 34px;
}
.cart-product .c-header .chk-all {
  position: absolute;
  left: 7px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-position: -180px -90px;
}
.cart-product .c-header .c-logo {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
.cart-product .c-header .title {
  font-size: 12px;
  color: #969696;
  line-height: 33px;
}
.cart-product .c-header .free {
  font-size: 12px;
  color: #969696;
  line-height: 33px;
}
.cart-product .c-content .c-item {
  height: 100px;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-left: 34px;
}
.cart-product .c-content .c-item .chk-box {
  position: absolute;
  left: 7px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-position: -180px -90px;
}
.cart-product .c-content .c-item .shop {
  float: left;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.cart-product .c-content .c-item .item-box {
  height: 100%;
  overflow: hidden;
  padding: 10px;
}
.cart-product .c-content .c-item .item-box p {
  width: 100%;
}
.cart-product .c-content .c-item .c-option {
  margin-top: 20px;
}
.cart-product .c-content .c-item .c-option .button {
  height: 32px;
}
.cart-product .c-content .c-item .c-option .button span {
  width: 40px;
  height: 32px;
  border: 1px solid #969696;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
  color: #969696;
}
.cart-product .c-content .c-item .c-option .button span:nth-child(2) {
  border-left: none;
  border-right: none;
}
.cart-product .c-content .c-item .c-option .delete {
  width: 18px;
  height: 22px;
  cursor: pointer;
}
.cart-product .c-content .c-item .c-option .delete .delete-up {
  display: block;
  width: 18px;
  height: 4px;
  background: url("../images/delete_up.png") no-repeat;
  background-size: 18px 5px;
  transform-origin: right;
  transition: transform 1s;
}
.cart-product .c-content .c-item .c-option .delete .delete-down {
  margin-top: -2px;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/delete_down.png") no-repeat;
  background-size: 18px 18px;
}
.cart-product .c-content .c-item .c-option .delete.open .delete-up {
  transform: rotate(15deg);
}
/* 模态框 */
.cart-motai {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.cart-motai .del-box {
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.cart-motai .del-box p {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #969696;
  font-size: 16px;
}
.cart-motai .del-box .del-btn {
  margin-top: 10px;
}
.cart-motai .del-box .del-btn a {
  width: 40%;
  height: 40px;
  border: 1px solid #969696;
  line-height: 40px;
  border-radius: 5px;
}
.cart-motai .del-box .del-btn .comfirm {
  background-color: #f23030;
  color: #fff;
}
